// couleurs principales
$rose: #FF79DA;
$violet: #9356DC;
$mint: #99E2D0;
$white:#ffff;
// couleurs de fond
$fond-darkgrey: rgb(40, 40, 40);
$grey-f6f6f667 :#f6f6f667;
$fond-lightgrey: rgb(244, 244, 244);


$shrikhand: 'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;