/* bouton "explorer nos restaurants" sur l'index */
.button__explore {
  @include button;
  width: 13.6rem;
  font-weight: 400;
  
  /* éclaircissement au survol du bouton */
  &:hover {
    @include button_effect
  }
}

/* bouton "commander" page menus */
.button__order {
  @include button;
  @include flex(row, space-around, center);
  width: 13.6rem;
  font-weight: 400;
  
  
  /* effet sur ce bouton */
  &:hover {
    @include button_effect
  }
  
  
 
    
  }


/* bouton forme de coeur - page index + menus */


.checkbox-like {
  position: absolute;
  right: 20px;
  bottom: 35px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.checkbox-like.checkbox-like--position {
  position: initial;
  margin-top: 20px;
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  animation: like 2s;
  animation-fill-mode: forwards;
  
}


