/* fond du loader */
@keyframes disappear{
  0% {
    opacity: 1;}
    50% {
      z-index: 2;
      opacity: 1;}
    100% {
      opacity: 0;
      z-index: -2;}
}
/* typo du loader avec effet blur */
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes text-pulse {
  0% {transform: scale(1);
  color: $rose;}
  50% {transform: scale(1.05);
  color: $mint;}
  100% {transform: scale(1);
    color:$violet} 
  
}


/* rotation du check menu */
@keyframes rotate_circle {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      position: fixed;
  }
  
}

/* animation  des vignettes menu */
@keyframes progress {
  0% {
      opacity: 0;
      transform: translate(0);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, $violet,$rose);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, $violet, $rose);
    -webkit-background-clip: text;
  }
}